<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744371166972-be7bc2647hhiviu2lhctagv7qai101eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744371166972-be7bc2647hhiviu2lhctagv7qai101eh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>744371166972-0ipgfq9qc4og5jg9o4c3kcjo1ivn0irk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA07A8LzDD7ux75ZEFTNEoXQYfBapuMbg8</string>
	<key>GCM_SENDER_ID</key>
	<string>744371166972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axcel.miprimerapp</string>
	<key>PROJECT_ID</key>
	<string>miprimerapp-c0dac</string>
	<key>STORAGE_BUCKET</key>
	<string>miprimerapp-c0dac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744371166972:ios:6ef84a6ee95b73d4d88179</string>
	<key>DATABASE_URL</key>
	<string>https://miprimerapp-c0dac-default-rtdb.firebaseio.com</string>
</dict>
</plist>